pip~=25.3
attrs~=23.1.0
wheel~=0.45.1
PySocks~=1.7.1
protobuf~=5.29.3
cryptography~=44.0.0
pillow~=10.2.0
filelock~=3.16.1
typing_extensions~=4.15.0
setuptools~=65.5.0
packaging~=23.2
platformdirs~=4.3.6
Cython~=3.0.11
Pygments~=2.19.1
requests~=2.31.0
python-dotenv~=1.2.1
fastapi~=0.126.0
starlette~=0.50.0
google-api-python-client~=2.159.0
pydantic~=2.12.5
Flask~=3.0.3
supabase~=2.27.2
